
@model BrowserGame_courseSimbirSoft_.Models.Character
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure?</h3>
<div>
    <h4>Characters</h4>
    <hr />
    <dl class="row">
        <dt class="cos-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="cos-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="cos-sm-2">
            @Html.DisplayNameFor(model => model.Win)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Win)
        </dd>
        <dt class="cos-sm-2">
            @Html.DisplayNameFor(model => model.Lose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lose)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Backward</a>
    </form>
</div>
